{% extends "@!SonataAdmin/standard_layout.html.twig" %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle fa5" data-toggle="push-menu"
           role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
            <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
        </a>

        <div class="navbar-left">
            {% block sonata_breadcrumb %}
                <div class="hidden-xs">
                    {% if _breadcrumb is not empty or action is defined %}
                        <ol class="nav navbar-top-links breadcrumb">
                            {% if _breadcrumb is empty %}
                                {% if action is defined %}
                                    {{ render_breadcrumbs(admin, action) }}
                                {% endif %}
                            {% else %}
                                {{ _breadcrumb|raw }}
                            {% endif %}
                        </ol>
                    {% endif %}
                </div>
            {% endblock sonata_breadcrumb %}
        </div>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <ul class="dropdown-menu">
                                    <li role="presentation" class="dropdown-header">
                                        Actions
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i>Se déconnecter</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="{{ path('app_home') }}"><i class="fa fa-home"></i>Revenir au site</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock sonata_nav %}