<p>Bonjour,</p>

<p>{% set p = reservation.performance %}
    Votre de réservation de {{ reservation.sumTarifs }} place(s) a bien été effectuée au nom de
    <em>{{ reservation }}</em> pour le spectacle <em>{{ p.relatedProject.name }}</em>
    le {{ p.performedAt | date('d') }} {{ p.performedAt | date('F') | trans }} à {{ p.performedAt | date('H:i') }}
</p>

<p>
    Le règlement de la place est <strong>libre</strong>, et s'effectue <strong>au chapeau</strong>. Prévoyez idéalement
    du liquide, même si une option pour payer en Lydia est également disponible. Pour cette soirée, le chapeau conseillé
    est de l'ordre de <strong>10€ à 15€</strong>.
</p>

<p>
    Si vous souhaitez modifier ou annuler votre réservation, vous pouvez passer par notre <a
            href="{{ absolute_url(path('app_contact')) }}" title="formulaire de contact">formulaire de contact</a>
    en précisant bien le nom de la réservation et l'action que vous souhaitez effectuer
</p>

<p>Ceci est un message automatique, merci de ne pas y répondre.</p>

<p>Tout l'équipe du Bouffon Théâtre</p>