{% extends "front/base.html.twig" %}

{% block title %}
    Notre blog
{% endblock %}
{% block body %}


<div class="container">
{{form(form)}}
<h1>Créneaux libres du {{ date_start | date("d/m/Y")}} au {{ date_end | date("d/m/Y") }}</h1>

{% if days %}
{% set current_month = days[0] | date('F') %}
{% set current_week = days[0] | date('W') %}
<h2>{{ current_month | trans }}</h2>
<div class="row">
{% for d in days %}
    {% set next_month = d | date('F') %}
    {% set next_week = d | date('W') %}
    {% set change_month = current_month != next_month %}
    {% if change_month %}
        {% set current_month = next_month %}
        </div>
        <h2>{{ current_month | trans }}</h2>
        <div class="row">
    {% endif %}
    {% set change_week = current_week != next_week %}
    {% if change_week %}
        {% set current_week = next_week %}
        </div>
        <p class="my-2">Semaine {{ current_week }}</p>
        <div class="row">
    {% endif %}
    {% if availables[d|date("d/m/Y")] is defined and availables[d|date("d/m/Y")] %}
        <div class="col-md-2">
            <div class="date-card">
                <label>{{ d | date('l') | trans }} {{ d | date('d')}} {{ current_month | trans }}</label>
                <ul>
                {% for av in availables[d|date("d/m/Y")] %}
                    <li>{{ av.o_from }} à {{ av.o_to }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    

{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}