{% extends "front/base.html.twig" %}

{% block title %}
    Notre blog
{% endblock %}
{% block body %}


<div class="container">
{{form(form)}}
<h1>Créneaux libres du {{ date_start | date("d/m/Y")}} au {{ date_end | date("d/m/Y") }}</h1>

{% if days %}
{% set current_month = days[0] | date('F') %}

<h2>{{ current_month | trans }}</h2>
{% for d in days %}
    {% set next_month = d | date('F') %}
    
    {% if current_month != next_month %}
        {% set current_month = next_month %}
        <h2>{{ current_month | trans }}</h2>
    {% endif %}
    {% if availables[d|date("d/m/Y")] is defined and availables[d|date("d/m/Y")] %}
    {{ d | date('l') | trans }} {{ d | date('d')}} :<br>
    {% for av in availables[d|date("d/m/Y")] %}
     -  {{ av.o_from }} à {{ av.o_to }}<br>
    {% endfor %}
    <br>
    {% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}