{% extends "front/base.html.twig" %}

{% block title %}
    Mon profil
{% endblock %}


{% block body %}
    <section class="container" {{ stimulus_controller('popup_group') }}>
        <h1 class="section-title">Mon profil</h1>

        <h2 class="section-title">Mes informations</h2>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <dl>
                    <dt>Nom</dt>
                    <dd>{{ app.user.lastname }}</dd>
                    <dt>Prénom</dt>
                    <dd>{{ app.user.firstname }}</dd>
                    <dt>Adresse email</dt>
                    <dd>{{ app.user.email }}</dd>
                </dl>
                <button {{ stimulus_action('popup_group', 'displayPopup') }} class="btn btn-primary">Modifier</button>
            </div>
        </div>

        <div class="popup" {{ stimulus_target('popup_group', 'popup') }} {{ stimulus_action('popup_group', 'hidePopup', 'click') }}>
            <div class="popup-wrap" {{ stimulus_action('popup_group', 'stopPropagation', 'click') }}>
                {{ form(formProfile) }}
            </div>
        </div>
    </section>

    <section class="container" {{ stimulus_controller('popup_group') }}>
        <h2 class="section-title">Mon mot de passe</h2>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button {{ stimulus_action('popup_group', 'displayPopup') }} class="btn btn-primary">Modifier mon mot de
                    passe
                </button>
            </div>
        </div>
        <div class="popup" {{ stimulus_target('popup_group', 'popup') }} {{ stimulus_action('popup_group', 'hidePopup', 'click') }}>
            <div class="popup-wrap" {{ stimulus_action('popup_group', 'stopPropagation', 'click') }}>
                {{ form_start(formPassword) }}
                {{ form_widget(formPassword) }}
                <button type="submit" class="btn btn-primary">Modifier</button>
                {{ form_end(formPassword) }}
            </div>
        </div>
    </section>

    <section class="container">
        <h2 class="section-title">Les documents que vous avez téléchargés</h2>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <ul>
                    {% for download in downloads %}
                        <li>
                            <a href="{{ path('sonata_media_download', { id: download.media.id }) }}">{{ download.media.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
