{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/sonata_custom.css') }}">
{% endblock %}
{% block sonata_admin_content %}
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="box box-primary">
        <div class="box-header">
            Création d'un contrat
        </div>
        <div class="box-body">

            {{ form_row(form.project) }}
            {{ form_row(form.performances) }}
            <div class="btn-group">
                <button class="btn btn-success mb-3" type="button" id="add_performance">Ajouter une représentation</button>
            </div>
            {{ form_row(form.showServiceSession) }}

            {{ form_row(form.contractType) }}

{#            {{ form_row(form.minimumShare) }}#}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">

                <div class="box-header">
                    Informations du théâtre
                </div>
                <div class="box-body">
                    {{ form_widget(form.contractTheaterConfig) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    Informations de la compagnie
                </div>
                <div class="box-body">
                    {{ form_widget(form.contractCompanyPart) }}
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">

        <div class="box-header">
            Validation
        </div>
        <div class="box-body">
            {% if edit %}
                <input class="btn btn-primary" type="submit" value="Mettre à jour">
                <input class="btn btn-success" name="invite" type="submit"
                       value="Mettre à jour et envoyer le formulaire">
                <input class="btn btn-success" type="submit" name="generate" value="Mettre à jour et générer">
                <input class="btn btn-success" type="submit" name="send" value="Mettre à jour et envoyer à la compagnie">

            {% else %}
                <input class="btn btn-primary" type="submit" value="Créer">
                <input class="btn btn-success" name="invite" type="submit"
                       value="Créer et envoyer le formulaire">
                <input class="btn btn-success" type="submit" name="generate" value="Créer et générer">
                <input class="btn btn-success" type="submit" name="send" value="Créer et envoyer à la compagnie">
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script>
        $(function () {
            function addDeletePerformanceButton(row) {
                $('<button class="btn btn-danger">Supprimer</button>').click(function(){
                   row.remove();
                }).appendTo(row);
            }
            $('#contract_admin_part_project').change(function () {
                if ({{ edit }}) {
                    window.location = Routing.generate('app_contract_edit_from_project', {
                        id: $(this).val(),
                        idContract: '{{ idContract }}'
                    });
                } else {
                    window.location = Routing.generate('app_contract_create_from_project', {id: $(this).val()});
                }
            });

            const $performanceList = $('#contract_admin_part_performances');
            $performanceList.children().each(function(){
                addDeletePerformanceButton($(this));
                $(this).find('label').text('Représentation n°' + ($(this).index() + 1));
            });
            const performanceRowPrototype = $performanceList.data('prototype');

            $('#add_performance').click(function () {
                const newIndex = $performanceList.children().length;
                const newRow = performanceRowPrototype
                    .replace(/__name__label__/g, 'Représentation n°' + (newIndex + 1))
                    .replace(/__name__/g, newIndex)
                ;
                const $row = $(newRow);
                $performanceList.append($row);
                addDeletePerformanceButton($row);
            });
        });
    </script>
{% endblock %}
