Bonjour {{ user.firstname }} {{ user.lastname }}, <br>
<p>
Vous avez été ajouté à la plateforme bouffontheatre.fr. Un mot de passe a été généré pour vous. N'oubliez pas de le changer:
</p>
<p>
<em>{{ plain_password }}</em>
</p>

{% if user.hasRole('ROLE_ADMIN') %}
<p>
Vous pouvez dès à présent accéder à notre interface d'administration via ce lien : <a href="{{ absolute_url(path('sonata_admin_dashboard')) }}">interface d'administration</a>.
</p>
{% endif %}
<p>
Vous pouvez réinitialiser votre mot de passe en cliquant sur ce lien : <a href="{{ absolute_url(path('app_forgot_password_request')) }}">réinitialiser mon mot de passe</a>
</p>
<p>
À très bientôt,
</p>
<p>
Toute l'équipe du Bouffon Théâtre
</p>